---
import type { GetStaticPaths } from 'astro'
import Layout from '@lib/layouts/base.astro'
import { Subject, Pager, data } from '@components'

export const getStaticPaths = (async ({ paginate }) =>
    [undefined, ...Object.keys(data.tags)].flatMap((tag) =>
        paginate(tag ? data.posts.filter((post) => post.frontmatter.tag.includes(tag)) : data.posts, {
            params: { path: tag ? `tags/${tag}` : undefined },
            props: { tag },
            pageSize: 30,
        }),
    )) satisfies GetStaticPaths

const { page, tag } = Astro.props
const keys = Object.keys(data.tags)
const pages = [page.currentPage]
---

<Layout>
    <section class="sm:flex gap-10 justify-between max-w-5xl mx-auto">
        <Subject title={tag ? 'Tag: ' + tag : 'Newest'} class="flex-auto max-w-2xl">
            <ul role="list" class="list-disc ml-4">
                {
                    page.data.map((post) => (
                        <li>
                            <div class="flex items-start justify-between my-4 gap-x-4">
                                <a class="break-words" href={post.url}>
                                    {post.frontmatter.title}
                                </a>
                                <span class="hidden sm:inline text-xs font-mono tracking-tight shrink-0 grow-0 text-gray-400 whitespace-nowrap flex-[120px] mt-[4px]">
                                    [{post.frontmatter.publish}]
                                </span>
                                <span class="text-xs font-mono tracking-tight shrink-0 grow-0 text-gray-400 whitespace-nowrap sm:hidden mt-[4px]">
                                    [{post.frontmatter.publish.split(' ')[0]}]
                                </span>
                            </div>
                        </li>
                    ))
                }
            </ul>
            <Pager hideSigle {page} />
        </Subject>
        <Subject title="Tags">
            <div class="flex flex-wrap gap-x-8 gap-y-4 mt-2 text-sm max-w-xs">
                {
                    keys.map((tag) => (
                        <a href={`./tags/${tag}/`}>
                            {tag} ({data.tags[tag]})
                        </a>
                    ))
                }
            </div>
        </Subject>
    </section>
</Layout>
