---
import Layout from '@lib/layouts/base.astro'
import { Subject, data } from '@components'

export async function getStaticPaths({ paginate }) {
    return [
        ...Object.keys(data.tags).map((tag) => ({ params: { page: 'tags/' + tag }, props: { tag } })),
        { params: { page: undefined } },
    ]
}

const { posts, tags } = data
const { tag } = Astro.props
const allPosts = tag ? posts.filter((post) => post.frontmatter.tag.includes(tag)) : posts
const keys = Object.keys(tags)
---

<Layout>
    <section class="sm:flex gap-10 justify-between max-w-5xl mx-auto">
        <Subject title={tag ? 'Tag: ' + tag : 'Newest'} class="flex-auto max-w-2xl">
            <ul role="list" class="list-disc ml-4">
                {
                    allPosts.map((post) => (
                        <li>
                            <div class="flex items-start justify-between my-4 gap-x-4">
                                <a class="break-words" href={post.url}>
                                    {post.frontmatter.title}
                                </a>
                                <span class="hidden sm:inline text-xs font-mono tracking-tight shrink-0 grow-0 text-gray-400 whitespace-nowrap flex-[120px] mt-[4px]">
                                    [{post.frontmatter.publish}]
                                </span>
                                <span class="text-xs font-mono tracking-tight shrink-0 grow-0 text-gray-400 whitespace-nowrap sm:hidden mt-[4px]">
                                    [{post.frontmatter.publish.split(' ')[0]}]
                                </span>
                            </div>
                        </li>
                    ))
                }
            </ul>
        </Subject>
        <Subject title="Tags">
            <div class="flex flex-wrap gap-x-8 gap-y-4 mt-2 text-sm max-w-xs">
                {
                    keys.map((tag) => (
                        <a href={`./tags/${tag}/`}>
                            {tag} ({tags[tag]})
                        </a>
                    ))
                }
            </div>
        </Subject>
    </section>
</Layout>
