---
import Layout from '@lib/layouts/base.astro'
import { Subject } from '@components'

const posts = await Astro.glob('./posts/*.md')

let tags = posts.reduce((set, post) => {
    let tag = new Set<string>(post.frontmatter.tag)

    for (const item of tag) {
        set[item] = (set[item] ?? 0) + 1
    }

    return set
}, {})
---

<Layout>
    <Subject title="最新文章">
        <ul role="list">
            {
                posts.map((post) => (
                    <li class="flex items-start my-4 before:content-['•'] before:font-bold before:text-xl before:leading-6">
                        <a class="align-middle hover:underline hover:text-orange-600 flex-auto ml-2" href={post.url}>
                            {post.frontmatter.title}
                        </a>
                        <span class="text-xs font-mono align-middle shrink-0 grow-0 text-gray-400 text-right w-32 leading-6">
                            {post.frontmatter.publish}
                        </span>
                    </li>
                ))
            }
        </ul>
    </Subject>
    <Subject title="Tags">
        <div class="flex gap-8">
            {Object.keys(tags).map((tag) => <a class="hover:underline hover:text-orange-600" href={`./tags/${tag}/`}>{tag}({tags[tag]})</a>)}
        </div>
    </Subject>
</Layout>
