---
import { Image } from 'astro:assets'
import '@src/styles/md.scss'
import Layout from './base.astro'

const { frontmatter, headings } = Astro.props
const images = import.meta.glob<{ default: ImageMetadata }>('/src/pages/posts/**/_cover*.*')
const cover = frontmatter.link.replace('.', '/src/pages') + frontmatter.cover
---

<Layout title={'$ - ' + frontmatter.title}>
    <div class="container lg:max-w-6xl mx-auto">
        <h1 class="font-bold text-3xl mt-2 my-4 tracking-tight">{frontmatter.title}</h1>
        <div class="flex flex-wrap text-sm text-gray-400 gap-x-4 gap-y-2 mb-10">
            <span>{frontmatter.author}</span>
            <span>发布于: {frontmatter.pubDate}</span>
            {
                frontmatter.tag && (
                    <span>
                        <span>Tags:</span>
                        <span class="space-x-2">
                            {frontmatter.tag.map((t) => (
                                <a class="text-black" href={`./tags/${t}/`}>
                                    {t}
                                </a>
                            ))}
                        </span>
                    </span>
                )
            }
            <span>字数: {frontmatter.readingTime.words.toLocaleString()}</span>
            <span>阅读时间: {Math.ceil(frontmatter.readingTime.minutes)} 分钟</span>
        </div>
        {
            frontmatter.cover && (
                <div class="my-6 flex justify-center">
                    <Image src={images[cover]()} alt="" />
                </div>
            )
        }
        <article class="mt-8 content">
            <slot />
        </article>
    </div>
</Layout>
